<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end"><ion-back-button text="Retour"  defaultHref="home"></ion-back-button></ion-buttons>
    <ion-title>Préparer un camp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>



<h1>  <b>{{name}}</b></h1>
<ion-card color="light" >

<div class="marge">
  <b><small><span text-wrap [innerHTML]="titre"></span></small></b><br>
  <i><small><span text-wrap [innerHTML]="extrait"></span></small></i>
 </div></ion-card><br>

<small><span text-wrap [innerHTML]="contenu"></span></small>


</ion-content>
