<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button text="Retour"   defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Informations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding  class="card-background-page">
  <div><ion-card>
    <img src="assets/imgs/evaluation/evaluation_flat.png" />
      <div class="card-title"> Contact</div>
   </ion-card></div>
Cette application a été développée par la Akela Corporation
<br><br><br>
Pour toute demande: contact@akelacorp.eu
<br><br><br>
N'hésitez pas à nous envoyer du contenu (activité, jeu...) à ajouter à l'appli
<br><br>
<div text-center><ion-button small href="mailto:contact@akelacorp.eu?subject=Contact%20JoueleJeu">Nous contacter</ion-button></div>


</ion-content>
