<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>

  </ion-header>
  <ion-content class="bckgrnd">
    <ion-list>
      <ion-item color = primary><ion-label text-center><img  class="image" src="assets/imgs/general/carre.png" alt="activitybox" WIDTH=60%></ion-label></ion-item>
      <ion-item href="home">Accueil</ion-item>
      <ion-item color = primary small><small><b>Réaliser</b></small></ion-item>
      <ion-item href="activite">Activités</ion-item>

      <ion-item color = primary small><small><b>Comprendre</b></small></ion-item>
      <ion-item href="methode">Méthode</ion-item>

      <ion-item color = primary small><small><b>Accompagner</b></small></ion-item>
      <ion-item href="preparation">Préparer une activité</ion-item>
      <ion-item href="evaluation">Evaluer une activité</ion-item>

      <ion-item color = primary small><small><b>Outils</b></small></ion-item>
      <ion-item href="qualification">Qualifications</ion-item>

        <ion-item color = primary small><small><b>Contacter</b></small></ion-item>
      <ion-item href="information">Informations</ion-item>
    </ion-list>
  <p padding><small>  <i>Si tu veux les connaitre vite, fais les jouer<br>
	Si tu veux leur apprendre à vivre, laisse les livres de côté. Fais les jouer<br>
	Si tu veux qu’ils prennent gout au travail, ne les lie pas à l’établi. Fais les jouer<br>
	Si tu veux faire ton métier, fais les jouer, jouer, jouer.<br>
	F. DELIGNY</i></small>
  </p>
  </ion-content>
</ion-menu>



<ion-router-outlet main></ion-router-outlet>
