

ion-content {
    --background: url('../../assets/imgs/general/accueil_estompe.png');
    --background-repeat: no-repeat;
    --background-position: center;
    --background-size: contain;

}

//
// app-page-home {
//
//
//
// .backgroundimage {
//    ion-padding: 0px;
//    ion-background-image: url('../../assets/imgs/general/accueil.png')!important;
//    ion-background-size: cover;
//    ion-background-repeat: no-repeat;
// }
// }
// ion-content {
//     background-image: url('../../assets/imgs/general/accueil.png');
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
// }
//
// ion-scroll {
//     background-image: url('../../assets/imgs/general/accueil.png');
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
// }
//
// ion-content ion-scroll {
//     background-image: url('../../assets/imgs/general/accueil.png');
// }
//
// .backgroundimage
// {
//     background-image: url('../../assets/imgs/general/accueil.png');
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
// }
