
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menuId="first" ></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" >

<div class="ion-text-center">  <img src="assets/imgs/general/carre.png" alt="carre" WIDTH=30% class = "image"></div>

<br>

<i><b><small><font color="#989aa2">Réaliser:</font></small></b></i>
    <div class="ion-text-center"><ion-button style="width:80%" router-direction="forward" color="primary" href="activite"  size="large"><ion-icon name="folder-open"></ion-icon>&nbsp; &nbsp; <span>A<span class="ion-text-lowercase">ctivités:</span><br> <small class="ion-text-lowercase">jeux, veillées...</small> </span>  </ion-button></div>
    <div class="ion-text-center"><ion-button style="width:80%" router-direction="forward" color="primary" href="prepacamp" > <ion-icon name="compass"></ion-icon> &nbsp; &nbsp;  O<span class="ion-text-lowercase">bjectifs pédagogiques</span>  </ion-button></div>

    <br>
    <i><b><small><font color="#989aa2">Comprendre:</font></small></b></i>
    <div class="ion-text-center"><ion-button slot="start"  style="width:80%" router-direction="forward" color="primary" href="methode"  large><ion-icon slot="start" name="book"></ion-icon> &nbsp; &nbsp;  M<span  class="ion-text-lowercase">éthode</span> </ion-button></div>
<br>
<i><b><small><font color="#989aa2">Accompagner:</font></small></b></i>
    <div class="ion-text-center" ><ion-button style="width:80%" router-direction="forward" color="primary" href="preparation" large  ><ion-icon name="construct"> </ion-icon>&nbsp; &nbsp; P<span class="ion-text-lowercase">réparer une activité</span> </ion-button></div>
    <div class="ion-text-center" ><ion-button style="width:80%" router-direction="forward" color="primary"  href="evaluation" large><ion-icon name="speedometer"></ion-icon>&nbsp; &nbsp; E<span class="ion-text-lowercase">valuer une activité</span> </ion-button></div>
    <br>
  <i><b><small><font color="#989aa2">Autres:</font></small></b></i>
  <div class="ion-text-center"><ion-button style="width:80%" router-direction="forward" color="primary" href="qualification" > <ion-icon name="ribbon"></ion-icon> &nbsp; &nbsp;  Q<span class="ion-text-lowercase">ualifications </span>&nbsp;SF  </ion-button></div>
  <!-- <div text-center><ion-button style="width:80%" router-direction="forward" color="primary" href="video" > <ion-icon name="film"></ion-icon> &nbsp; &nbsp;  V<span text-lowercase>ideos </span>&nbsp;SF  </ion-button></div> -->



</ion-content>
